body{
    background-color: black;
}

ul{
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 700px;
    text-align: center;
    display: flex;
  justify-content: space-between;
  
  
}

div{
    background-color: rgb(0, 0, 0);
    width: 160px;
   margin: auto;
    text-align: center;


    
}

h3{
    color: rgb(255, 255, 255)
   
}

.tittle1{
    width: 400px;
    
   
    margin: auto;
  
}

p{
    font-size: 32px;
    white-space: nowrap;
   padding-left: 38px;
    color: rgb(255, 255, 255);
}

.logo1{
    

width: 210px;

   
}

button{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid white 1px;
 
}

button:hover{
    background-color: white;
    color: black;
    transition: all;
    transition-duration: 1s;
}

.img1{
    max-width: 100%;
	
	transition: all 0.3s;

}

.img1:hover{
  
  color: white;

	transform: scale(1.1);
   
}


.img1{
    overflow: hidden;
}
.img1:hover{ 
    border: solid white 2px;
    transition: 1s;
   
   
}
 
.img2:hover{
    border:solid white 2px;
    transition: 1s ;
    
}